In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

!mkdir data

!wget "https://raw.githubusercontent.com/Dr-Vphuc/Ground_Water_Classifier/main/data/ground_water_quality_2018_post.csv" -O data/ground_water_quality_2018_post.csv
!wget "https://raw.githubusercontent.com/Dr-Vphuc/Ground_Water_Classifier/main/data/ground_water_quality_2019_post.csv" -O data/ground_water_quality_2019_post.csv
!wget "https://raw.githubusercontent.com/Dr-Vphuc/Ground_Water_Classifier/main/data/ground_water_quality_2020_post.csv" -O data/ground_water_quality_2020_post.csv

!ls data/

In [ ]:
import os 
BASE_DIR = os.path.dirname(
    os.path.dirname(
        os.path.dirname(
            os.path.abspath('notebook/preprocessing.ipynb'))))

path18 = os.path.join(BASE_DIR, 'data\\ground_water_quality_2018_post.csv')
path19 = os.path.join(BASE_DIR, 'data\\ground_water_quality_2019_post.csv')
path20 = os.path.join(BASE_DIR, 'data\\ground_water_quality_2020_post.csv')

f:\Project\Ground_Water_Classifier\data\ground_water_quality_2018_post.csv

In [12]:
df_18 = pd.read_csv(path18)
df_19 = pd.read_csv(path19)
df_20 = pd.read_csv(path20)

,sno,district,mandal,village,lat_gis,long_gis,gwl,season,pH,E.C,...,SO4,Na,K,Ca,Mg,T.H,SAR,Classification,RSC meq / L,Classification.1
0,1,ADILABAD,Adilabad,Adilabad,19.668300,78.524700,5.09,postmonsoon 2018,8.28,745,...,46.0,49.0,4.0,48,38.896,279.934211,1.273328,C2S1,-1.198684,P.S.
1,2,ADILABAD,Bazarhatnur,Bazarhatnur,19.458888,78.350833,5.10,postmonsoon 2018,8.29,921,...,68.0,42.0,5.0,56,63.206,399.893092,0.913166,C3S1,-3.397862,P.S.
2,3,ADILABAD,Gudihatnoor,Gudihatnoor,19.525555,78.512222,4.98,postmonsoon 2018,7.69,510,...,44.0,45.0,2.0,24,38.896,219.934211,1.319284,C2S1,-0.398684,P.S.
3,4,ADILABAD,Jainath,Jainath,19.730555,78.640000,5.75,postmonsoon 2018,8.09,422,...,35.0,27.0,1.0,32,19.448,159.967105,0.928155,C2S1,0.000658,P.S.
4,5,ADILABAD,Narnoor,Narnoor,19.495665,78.852654,2.15,postmonsoon 2018,8.21,2321,...,280.0,298.0,5.0,56,92.378,519.843750,5.682664,C4S2,-4.396875,P.S.